<div class="page-content">
  <h3><%= @project.title %></h3>

  <div class="box col-7 project-description">
    <%= @project.description %>
  </div>

  <%= react_component("Stages", project_id: @project.id) %>
</div>
