<div class="page-content">
  <h3><%= @project.title %></h3>

  <div class="box col-7 project-description">
    <%= @project.description %>
  </div>

  <% if current_user %>
    <%= react_component("Stages", project_id: @project.id, current_user: true) %>
  <% else %>
    <%= react_component("Stages", project_id: @project.id) %>
  <% end %>

</div>
