@import "bootstrap";

.pagination {
  cursor: default;
  height: 32px;
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }
  .disabled {
    color: #ffffff;
    border: 1px solid #ffffff;
  }
  .current {
    font-style: normal;
    background: #2e6ab1;
    color: #00C122;
    border: 1px solid #00C122;
  }
  a {
    text-decoration: none;
    color: #00C122;
    border: 1px solid #00C122;
    &:hover, &:focus {
      color: #000033;
      border-color: #000033;
    }
  }
  .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: #2e6ab1 + 60;
      padding: 0.1em 0.25em;
    }
  }
}

html {
  height: 100%;
}
  
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(85, 82, 83, 0.9);
}
  
#flex-content-container {
  flex: 1;
}
  
#footer {
  position: relative;
  width: 100%;
  min-height: 70px;
  background-color: rgba(24, 21, 22, 0.9);
  padding: 10px 0px;
  margin-top: 30px;
}
  
.header-color {
  background-color: rgba(24, 21, 22, 0.9);
}
  
.homepage_link a {
  font-size: 24px;
  color: #00C122;
}
  
.make-it-green {
  color: #00C122;
}

.page-content {
  margin-left: 20px;
}

.box {
  padding: 10px;
  border: 2px solid;
  border-color: #00C122;
  border-radius: 10px;
}

.container{
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

.project-description {
  font-size: 20px;
  font-weight: 500;
}

.stage-button {
  margin-left: 10px;
}

.stage-box {
  border: 2px solid;
  border-color: #00C122;
  border-radius: 10px;
  float: left;
  font-size: 20px;
  font-weight: bold;
  min-height: 200px; // I want this to be the default height
  width: 300px;
  padding: 10px;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.spacer-box {
  float: left;
  height: 200px;
  width: 30px;
}